<!-- Mobile Menu -->
<div class="vs-menu-wrapper">
  <div class="vs-menu-area text-center">
    <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
    <div class="mobile-logo">
      <a href="https://www.touristguideclub.com/"><img
          src="https://www.touristguideclub.com/assets/img/logo_default.png" alt="Tourist Guide Club"></a>
    </div>
    <div class="vs-mobile-menu">
      <ul>
        <li class="menu-item-has-children">
          <a href="javascript:void(0);">About</a>
          <ul class="sub-menu">
            <li><a href="/origin_history">Origin History</a></li>
            <li><a href="/aims_objectives">Aims & Objectives</a></li>
            <li><a href="/about/about_the_founder">About the Founder</a></li>
            <li><a href="/about/about_membership">Boards Members</a></li>
            <li><a href="/about/advisor">Advisor</a></li>

            <!-- <li><a href="https://www.touristguideclub.com/about/office-bearers">Office Bearers</a></li -->
          </ul>
        </li>
        <li>
          <a href="https://www.touristguideclub.com/top-20-tour-guides">Top 20 Best Tourist Guide</a>
        </li>
        <li class="menu-item-has-children">
          <a href="https://www.touristguideclub.com/tour-guides">Tourist Guides</a>
          <ul class="sub-menu">
            <li><a href="/panindia_level">Pan India Level</a></li>
            <!-- <li><a href="/regional_level">Regional Level</a></li> -->
            <li><a href="/state_level">State Level</a></li>
            <li><a href="/eco_guide">Eco Guide</a></li>
            <li><a href="/konark">Konark</a></li>
            <li><a href="/nandankanan_guide">Nandankanan Guide</a></li>
            <li><a href="https://www.touristguideclub.com/tour-guides/similipal-guide">Similipal Guide</a></li>
          </ul>
        </li>
        <li>
          <a href="https://www.touristguideclub.com/publication">bLOGS</a>
        </li>
        <li class="menu-item-has-children">
          <a href="javascript:void(0);">Gallery</a>
          <ul class="sub-menu">
            <li><a href="/photos">Photos</a></li>
            <li><a href="https://www.touristguideclub.com/gallery/videos">Videos</a></li>
          </ul>
        </li>
        <li>
          <a href="/top-tourist-places">Top Tourist Places</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Desktop Menu -->
<header class="vs-header header-layout5">
  <div class="header-top">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          <div class="header-social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="col-auto">
          <div class="d-flex justify-content-between align-items-center">
            <div class="header-links">
              <ul>
                <li><a href="webmail">Webmail</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="sitemap"><i class="fas fa-sitemap"></i></a></li>
              </ul>
            </div>
            <!-- <div class="header-dropdown">
              <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <img src="/img/icons/flag-icon-1.png" alt="Flag">English
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">German</a>
                  <a href="#">French</a>
                  <a href="#">Italian</a>
                  <a href="#">Latvian</a>
                  <a href="#">Spanish</a>
                  <a href="#">Greek</a>
                </li>
              </ul>
            </div> -->
            <div class="header-dropdown">
              <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                <img src="/img/icons/flag-icon-1.png" alt="Flag">Language
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" onclick="doGTranslate('en|en')">English</a></li>
                <li><a href="#" onclick="doGTranslate('en|de')">German</a></li>
                <li><a href="#" onclick="doGTranslate('en|fr')">French</a></li>
                <li><a href="#" onclick="doGTranslate('en|it')">Italian</a></li>
                <li><a href="#" onclick="doGTranslate('en|es')">Spanish</a></li>
                <li><a href="#" onclick="doGTranslate('en|el')">Greek</a></li>
              </ul>
            </div>

            <div id="google_translate_element" style="display:none"></div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-middle">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <!-- <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button> -->
          <!-- QR Scanner Icon for Mobile -->


          <div class="vs-logo">
            <a href="#"><img src="/img/logo_default.png" alt="Tourist Guide Club"></a>
          </div>
        </div>
        <div class="col-auto">
          <div class="items d-none d-lg-flex">
            <div class="item2">
              <div class="item2__icon">
                <img src="/img/icons/email-icon-1.svg" alt="email icon">
              </div>
              <div class="item2__text">
                <span>Email us:</span>
                <a href="mailto:info@touristguideclub.com"> info@touristguideclub.com </a>
              </div>
            </div>
            <div class="item2 d-none d-xl-flex">
              <div class="item2__icon">
                <img src="/img/icons/phone-icon-1.svg" alt="phone icon">
              </div>
              <div class="item2__text">
                <span>Call us:</span>
                <a href="tel:(093) 370-67430">(093) 370-67430</a>
              </div>
            </div>
          </div>
          <button id="openQRScanner" class="d-inline-block d-lg-none"
            style="background: none; border: none; margin-left: 10px;">
            <img src="/img/image.png" alt="Scan QR" style="width: 28px; height: 28px;" />
          </button>
          <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>

        </div>
      </div>
    </div>
  </div>

  <div class="sticky-wrapper d-none d-lg-block">
    <div class="sticky-active">
      <div class="container position-relative">
        <div class="header-box">
          <div class="row align-items-center">
            <div class="col">
              <nav class="main-menu menu-style1">
                <ul>
                  <li class="menu-item-has-children">
                    <a href="javascript:void(0);">About</a>
                    <ul class="sub-menu">
                      <li><a href="/origin_history">Origin History</a></li>
                      <li><a href="/aims_objectives">Aims & Objectives</a></li>
                      <li><a href="/about/about_the_founder">About the Founder</a></li>
                      <li><a href="/about/about_membership">Boards Members</a></li>
            <li><a href="/about/advisor">Advisor</a></li>

                      <!-- <li><a href="about/office-bearers">Office Bearers</a></li> -->
                    </ul>
                  </li>
                  <li><a  href="/top_tourist_guide">Top  Tourist Guide</a></li>
                  <li class="menu-item-has-children">
                    <a href="tour-guides">Tourist Guides</a>
                    <ul class="sub-menu">
                      <li><a href="/panindia_level">Pan India Level</a>
                      </li>
                      <!-- <li><a href="/regional_level">Regional Level</a></li> -->
                      <li><a href="/state_level">State Level</a></li>
                      <li><a href="/eco_guide">Eco Guide</a></li>
                      <li><a href="/konark">Konark</a></li>
                      <li><a href="/nandankanan_guide">Nandankanan Guide</a>
                      </li>
                      <li><a href="https://www.touristguideclub.com/tour-guides/similipal-guide">Similipal Guide</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="/publications">Publication</a></li>
                  <li class="menu-item-has-children">
                    <a href="javascript:void(0);">Gallery</a>
                    <ul class="sub-menu">
                      <li><a href="/photos">Photos</a></li>
                      <li><a href="gallery/videos">Videos</a></li>
                    </ul>
                  </li>
                  <li><a href="/top-tourist-places">Top Tourist Places</a></li>
                  <li><a href="/membership">Membership</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-auto d-none d-xl-block">
              <div class="header-right">
                <ul>
                  <li>
                    <div class="header-btns">
                      <button class="searchBoxTggler"><i class="fal fa-search"></i></button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>