<!DOCTYPE html>
<html class="no-js" lang="en">
<%- include('common_pages/head') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">


  <body>
    <!--********************************
    Code Start From Here
    ******************************** -->

    <!-- Hero Area Start -->
    <div class="breadcumb-wrapper" data-bg-src="/img/breadcumb/breadcumb-bg.jpg">
      <div class="container z-index-common">
        <div class="breadcumb-content">
          <h1 class="breadcumb-title">Forgot Password</h1>
            <div class="breadcumb-menu-wrap">
              <ul class="breadcumb-menu">
                <li><a href="#">Home</a></li>
                <li>Forgot Password</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <!-- Hero Area End -->
    <!-- Sign Up Area Start -->
    <div class="signup-wrapper  space">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 ">
            <form action="/forgot-password" method="POST" class="signup-form bg-smoke">
              <h2 class="form-title text-center mb-lg-35">Forgot Password</h2>
              <div class="form-group">
                <label for="loginUserId" class="sr-only">enter your email address*</label>
                <input type="text" class="form-control" placeholder="Username or email address*" id="loginUserId"
                  name="email">
              </div>
              
              <div class="form-group mb-0 text-center">
                <button class="vs-btn mask-style1 w-100 style4" type="submit">Forgot Password</button>
               
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Sign Up Area End -->
    <%- include('common_pages/footer') %>

      <!-- Scroll To Top -->
      <a href="#" class="scrollToTop scroll-btn"><i class="fas fa-arrow-up"></i>
      </a>
      <!-- ==============================
    All Js File
    ================================ -->
      <!-- Jquery -->
      <script src="/js/vendor/jquery-3.6.0.min.js"></script>
      <script src="/js/slick.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/jquery.magnific-popup.min.js"></script>
      <script src="/js/jquery-ui.min.js"></script>
      <script src="/js/circle-progress.min.js"></script>
      <script src="/js/imagesLoaded.js"></script>
      <script src="/js/isotope.js"></script>
      <script src="/js/wow.min.js"></script>
      <script src="/js/main.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
 <% if (typeof error !== 'undefined' && error) { %>
    <script>
      // This script will run only when the 'error' variable is passed from the server
      iziToast.error({
        title: 'Error',
        message: '<%= error %>',
        position: 'topRight'
      });
    </script>
    <% } %>
  </body>

</html>