<?php
require_once 'includes/config.php';
require_once 'includes/func.php';
?>
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign In | Tourist Guide Club: Explore, Experience, Enjoy!</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons - Place favicon.ico in the root directory -->
    <link rel="icon" type="image/png" href="<?=SITE_URL;?><?=!empty($Configs['general_settings']['site_favicon']) ? $Configs['general_settings']['site_favicon'] : "assets/images/favicon.png";?>">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Primary Meta Tags -->
    <meta name="google" content="notranslate">
    <meta name="robots" content="index, follow">
    <meta name="language" content="en">
    <meta name="author" content="<?=$Configs['general_settings']['site_name'];?>">
    <meta name="title" content="Sign In | Tourist Guide Club: Explore, Experience, Enjoy!" />
    <meta name="description" content="<?=$Configs['general_settings']['site_description'];?>" />
    <meta name="keywords" content="<?=$Configs['general_settings']['site_keywords'];?>"/>
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<?=SITE_URL;?>" />
    <meta property="og:title" content="Sign In | Tourist Guide Club: Explore, Experience, Enjoy!" />
    <meta property="og:description" content="<?=$Configs['general_settings']['site_description'];?>" />
    <meta property="og:image" content="<?=SITE_URL;?><?=!empty($Configs['general_settings']['site_favicon']) ? $Configs['general_settings']['site_favicon'] : "assets/images/favicon.png";?>" />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<?=SITE_URL;?>" />
    <meta property="twitter:title" content="Sign In | Tourist Guide Club: Explore, Experience, Enjoy!" />
    <meta property="twitter:description" content="<?=$Configs['general_settings']['site_description'];?>" />
    <meta property="twitter:image" content="<?=SITE_URL;?><?=!empty($Configs['general_settings']['site_favicon']) ? $Configs['general_settings']['site_favicon'] : "assets/images/favicon.png";?>" />
    <!--==============================
    Google Fonts
    ============================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <!--==============================
    All CSS File
    ============================== -->
    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="assets/css/app.min.css"> -->
    <link rel="stylesheet" href="<?=SITE_URL;?>assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="<?=SITE_URL;?>assets/css/fontawesome.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="<?=SITE_URL;?>assets/css/magnific-popup.min.css">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="<?=SITE_URL;?>assets/css/slick.min.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="<?=SITE_URL;?>assets/css/style.css">
    <!-- canonical -->
    <link rel="canonical" href="<?=SITE_URL;?>" />
    <link rel="alternate" href="<?=SITE_URL;?>" hreflang="en-US"/>
    <script type="application/ld+json">
    {
    "@context" : "http://schema.org",
    "@type" : "WebSite",
    "name" : "<?=$Configs['general_settings']['site_name'];?>",
    "url" : "<?=SITE_URL;?>",
    "potentialAction" : {
    "@type" : "SearchAction",
    "target" : "<?=SITE_URL;?>search?q={search_term}",
    "query-input" : "required name=search_term"
    }
    }
    </script>
    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Travel Agency",
    "address": {
    "@type": "PostalAddress",
    "addressLocality": "New Delhi, India",
    "streetAddress": "<?=$Configs['contact_info']['address'];?>"
    },
    "email": "<?=$Configs['contact_info']['email'];?>",
    "faxNumber": "<?=$Configs['contact_info']['phone'];?>",
    "member": [
    {
    "@type": "Organization"
    },
    {
    "@type": "Organization"
    }
    ],
    "name": "<?=$Configs['general_settings']['site_name'];?>",
    "telephone": "<?=$Configs['contact_info']['phone'];?>"
    }
    </script>
  </head>
  <body>
    <!--********************************
    Code Start From Here
    ******************************** -->
    <?php require_once 'includes/header.php'; ?>
    <!-- Hero Area Start -->
    <div class="breadcumb-wrapper" data-bg-src="<?=SITE_URL;?><?=!empty($Configs['general_settings']['breadcumb_image']) ? $Configs['general_settings']['breadcumb_image'] : "assets/img/breadcumb/breadcumb-bg.jpg";?>">
      <div class="container z-index-common">
        <div class="breadcumb-content">
          <h1 class="breadcumb-title">Sign In</h1>
          <div class="breadcumb-menu-wrap">
            <ul class="breadcumb-menu">
              <li><a href="index-2.html">Home</a></li>
              <li>Sign In</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero Area End -->
    <!-- Sign Up Area Start -->
    <div class="signup-wrapper  space">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 ">
            <form action="#" class="signup-form bg-smoke">
              <h2 class="form-title text-center mb-lg-35">Sign In</h2>
              <div class="form-group">
                <label for="loginUserId" class="sr-only">Username or email address*</label>
                <input type="text" class="form-control" placeholder="Username or email address*" id="loginUserId"
                name="loginUserId" required>
              </div>
              <div class="form-group">
                <label for="loginUserPass" class="sr-only">Password*</label>
                <input type="password" class="form-control" placeholder="Password*" id="loginUserPass"
                name="loginUserPass" required>
              </div>
              <div class="form-group">
                <input type="checkbox" name="loginRemember" id="loginRemember">
                <label for="loginRemember">Remember Me</label>
              </div>
              <div class="form-group mb-0 text-center">
                <button class="vs-btn mask-style1 w-100 style4" type="submit">Login</button>
                <div class="bottom-links link-inherit d-md-flex justify-content-between mt-3">
                  <a href="#" class="recovery-link mb-2 mb-md-0">Forgot your password?</a>
                  <a href="<?=SITE_URL;?>membership">Join Tourist Guide Club</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Sign Up Area End -->
    <?php require_once 'includes/footer.php'; ?>
    <!-- Scroll To Top -->
    <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>
    <!-- ==============================
    All Js File
    ================================ -->
    <!-- Jquery -->
    <script src="<?=SITE_URL;?>assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- Slick Slider -->
    <script src="<?=SITE_URL;?>assets/js/slick.min.js"></script>
    <!-- Bootstrap -->
    <script src="<?=SITE_URL;?>assets/js/bootstrap.min.js"></script>
    <!-- Magnific Popup -->
    <script src="<?=SITE_URL;?>assets/js/jquery.magnific-popup.min.js"></script>
    <!-- jquery Ui -->
    <script src="<?=SITE_URL;?>assets/js/jquery-ui.min.js"></script>
    <!-- Circle Progress -->
    <script src="<?=SITE_URL;?>assets/js/circle-progress.min.js"></script>
    <!-- isotope -->
    <script src="<?=SITE_URL;?>assets/js/imagesLoaded.js"></script>
    <script src="<?=SITE_URL;?>assets/js/isotope.js"></script>
    <!-- Wow.js -->
    <script src="<?=SITE_URL;?>assets/js/wow.min.js"></script>
    <!-- Main Js File -->
    <script src="<?=SITE_URL;?>assets/js/main.js"></script>
  </body>
</html>