<!-- Sidebar -->
<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a href="index.html" class="logo">
        <img src="/admin/public/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item active">
          <a href="/dashboard" class="nav-link">
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Menu</h4>
        </li>

        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#guides">
            <i class="fas fa-users"></i>
            <p>Users</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="guides">
            <ul class="nav nav-collapse">
              <li>
                <a href="/admin/guides/pending">
                  <span class="sub-item">Pending Guides</span>
                </a>
              </li>
              <li>
                <a href="/admin/associates">
                  <span class="sub-item">Associates</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a href="/places/add">
            <i class="fas fa-map-marker-alt"></i>
            <p>Places</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/places/manage">
            <i class="fas fa-map-marker-alt"></i>
            <p>Manage Places</p>
          </a>
        </li>


        <li class="nav-item">
          <a  href="/blogs/add">
            <i class="fas fa-book"></i>
            <p>Blogs</p>
          </a>
        </li>

           <li class="nav-item">
          <a  href="/blogs/news">
            <i class="fas fa-book"></i>
            <p>manage blogs</p>
          </a>
        </li>


        <li class="nav-item">
          <a  href="/admin/news/add">
            <i class="fas fa-bullhorn"></i>
            <p>News & Events</p>
          </a>
        </li>
         <li class="nav-item">
          <a  href="/admin/news/manage">
            <i class="fas fa-bullhorn"></i>
            <p> Manage News & Events</p>
          </a>
        </li>


        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#">
            <i class="fas fa-paper-plane"></i>
            <p>Enquiries</p>
          </a>
        </li>


        <li class="nav-item">
          <a href="/admin/logout">
            <i class="fas fa-sign-out-alt"></i>
            <p>Logout</p>
          </a>
        </li>


      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->