<!DOCTYPE html>
<html class="no-js" lang="en">
<%- include('../common_pages/head') %>

    <body>
        <style>
            ul.about-list1 {
                display: block;
            }
        </style>
        <!--********************************
    Code Start From Here
    ******************************** -->
        <%- include('../common_pages/header') %>
            <!--==============================
      Hero area Start
    ==============================-->
            <div class="breadcumb-wrapper" data-bg-src="/img/breadcumb/breadcumb-bg.jpg">
                <div class="container z-index-common">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">About The Founder</h1>
                        <div class="breadcumb-menu-wrap">
                            <ul class="breadcumb-menu">
                                <li><a href="/">Home</a></li>
                                <li>About</li>
                                <li>About The Founder</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--==============================
      Hero Area End
    ==============================-->
            <!--==============================
    About Area Start
    ==============================-->
            <section class="space">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Image Column -->
                        <div class="col-md-6">
                            <img src="/img/founder.jpg" alt="Tour Image" class="img-fluid rounded shadow"
                                style="max-height: 350px; object-fit: cover; width: 90%;">

                        </div>

                        <!-- Text Column -->
                        <div class="col-md-6">
                            <div class="about-content">
                                <div class="title-area">
                                    <span class="sec-subtitle">Founder of tourist guide club (TGC)</span>
                                    <h5 class="sec-title  mt-4">Lalit Mohan Panda, Founder</h5>
                                    <p class="sec-text">
                                        Lalit Mohan Panda is a wildlife activist who has the unique distinction of
                                        having a homogenous blending of a passion to strive for preserving the pristine
                                        charm of nature. Through rescuing animals in distress and promoting love and
                                        compassion for flora and fauna through my guided eco-tour programs. Having been
                                        trained professionally on wildlife and as a professional ecotour guide from
                                        IITTM. I have been able to cater to the genuine demands of the tourists who come
                                        with loads of expectations. As an alchemist, I have been able to transform
                                        general tourists into brand ambassadors of the ecotourist hubs of Odisha
                                    </p>
                                    <p class="third-text">
                                        Lalit Mohan Panda received the Biju Pattnaik Wildlife Award from the forest
                                        department of the Govt of Odisha in the year 2018. And he also received the
                                        National Tourism Award for Best Wildlife Guide (2018-19).
                                    </p>
                                    <p class="four-text">
                                        Lalit Mohan Panda is a founder of the Tourist Guide Club (TGC), and he is also a
                                        founding member & general secretary of the Centre for Rural Tourism Development
                                        (CRTD).
                                        Email:lalitcrtdodisha@gmail.com

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
          

            <!--==============================
    About Area End
    ==============================-->
            <!--==============================
      Histoy area Start
    ==============================-->

            <!--==============================
      Histoy area End
    ==============================-->
            <!--==============================
    Special Offer Area Start
    ==============================-->

            <!--==============================
    Special Offer Area End
    ==============================-->
            <!-- ==============================
    Testimonail Area Start
    ==============================-->

            <!-- ==============================
    Testimonail Area End
    ==============================-->
            <!-- ==============================
    Blogs Area Start
    ============================== -->

            <!-- ==============================
    Blogs Area End
    ============================== -->
            <%- include('../common_pages/footer') %>

                <!-- Scroll To Top -->
                <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>
                <!-- ==============================
    All Js File
    ================================ -->
                <!-- Jquery -->
                <script src="/js/vendor/jquery-3.6.0.min.js"></script>
                <!-- Slick Slider -->
                <script src="/js/slick.min.js"></script>
                <!-- Bootstrap -->
                <script src="/js/bootstrap.min.js"></script>
                <!-- Magnific Popup -->
                <script src="/js/jquery.magnific-popup.min.js"></script>
                <!-- jquery Ui -->
                <script src="/js/jquery-ui.min.js"></script>
                <!-- Circle Progress -->
                <script src="/js/circle-progress.min.js"></script>
                <!-- isotope -->
                <script src="/js/imagesLoaded.js"></script>
                <script src="/js/isotope.js"></script>
                <!-- Wow.js -->
                <script src="/js/wow.min.js"></script>
                <!-- Main Js File -->
                <script src="/js/main.js"></script>
    </body>

</html>