<!DOCTYPE html>
<html class="no-js" lang="en">
<%- include('../common_pages/head') %>

  <body>
    <style>
        ul.about-list1{
            display: block;
        }
    </style>
    <!--********************************
    Code Start From Here
    ******************************** -->
    <%- include('../common_pages/header') %>
      <!--==============================
      Hero area Start
    ==============================-->
      <div class="breadcumb-wrapper" data-bg-src="/img/breadcumb/breadcumb-bg.jpg">
        <div class="container z-index-common">
          <div class="breadcumb-content">
            <h1 class="breadcumb-title">Aims & Objectives</h1>
            <div class="breadcumb-menu-wrap">
              <ul class="breadcumb-menu">
                <li><a href="/">Home</a></li>
                <li>About</li>
                <li>Aims & Objectives</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--==============================
      Hero Area End
    ==============================-->
      <!--==============================
    About Area Start
    ==============================-->
      <section class="space">
        <div class="container">
          <div class="row align-items-center">
            <!-- <div class="col-lg-6">
            <div class="image-box1">
              <img class="img1" src="assets/img/about/img-2-1.jpg" alt="image1">
              <img class="img2" src="assets/img/about/img-2-2.jpg" alt="image2">
              <div class="media-box1">
                <span class="media-info">25 Years</span>
                <p class="media-text">Of Experience</p>
              </div>
              <div class="media-box2">
                <span class="media-info">20,000+</span>
                <p class="media-text">Happy Clients</p>
              </div>
            </div>
          </div> -->
            <div class="">
              <div class="about-content">
                <div class="title-area">
                  <span class="sec-subtitle">Our Aims and Objectives at TGC</span>
                  <h2 class="sec-title h1 mt-5">India’s Trusted Network of Certified Tourist Guides</h2>
                  <p class="sec-text">TOur members are the very professional &  qualified tourist guides in India. They are committed to quality and standards and add value to the visitor experience. Using key techniques that combine knowledge and practical skills they help bring alive each location and are often described as 'ambassadors' for our country.
A Code of Conduct and a Quality Charter reinforces their professional approach. If you'd like to find one of our members click on the LINKS   . . .Coming soon

                  </p>
                </div>
                <div class="ms-5">
                <!-- <ul class="about-list1 ">
                  <h5 class="sec-title mt-5 ms-5 text-center">TGC Work For Professional Tourist Guides In India.</h5>
                  <li>TGC is the Professional Tourist Guides voice in India. It is respected and it is consulted.</li>
                  <li>TGC provides expertise where needed to ensure that the Tourist Guide's role is understood and promoted</li>
                  <li>TGC knows where to go and whom to speak to about Tourist Guiding issues</li>
                  <li>TGC is best placed to speak for Tourist Guides on issues such as equivalence of professional qualifications, standards in tourist guiding and tourist guide training. It is well placed to establish common criteria in all areas of tourist guiding</li>
                  <li>TGC can achieve a common approach on professional issues. It is able help the industry and consumers greater understand what they can expect of a professional tourist guide in India</li>

                  <li>TGC provides an opportunity for association and individual networking through its meetings, seminars and website</li>
                </ul> -->
                 <ul class="about-list1 ms-3">
                  <h5 class="sec-title mt-5 text-center text-capitialize">Tgc Work For Professional Tourist Guides In India.</h5>
                  <li>TGC is the Professional Tourist Guides voice in India. It is respected and it is consulted.</li>
                  <li>TGC provides expertise where needed to ensure that the Tourist Guide's role is understood and promoted</li>
                  <li>TGC knows where to go and whom to speak to about Tourist Guiding issues</li>
                  <li>TGC is best placed to speak for Tourist Guides on issues such as equivalence of professional qualifications, standards in tourist guiding and tourist guide training. It is well placed to establish common criteria in all areas of tourist guiding</li>
                  <li>TGC can achieve a common approach on professional issues. It is able help the industry and consumers greater understand what they can expect of a professional tourist guide in India</li>

                  <li>TGC provides an opportunity for association and individual networking through its meetings, seminars and website</li>
                </ul> 
               </div>
                <div class="ms-5">
                 <ul class="about-list1 ms-3">
                  <h5 class="sec-title mt-5 text-center text-capitialize">Tourist guiding as a unique and distinct profession</h5>
                  <li>Historically Tourist Guiding has developed for decades as a distinct profession within the tourism industry alongside other complimentary professions that also contribute to the visitors’ overall experience. Professional qualifications for tourist guide in India have helped raise quality and standards and, in a number, they are needed to practice the profession</li>
                  <li>TGC was an official observer and a number of Tourist Guide experts, whom TGC had identified, played an important role in deliberations about many of the final definitions. The result of this work has been widely reported. The definitions add greater clarity and transparency to a vast range of services provided - including definitions of such things as, to see',' a visit',' a cruise',' a guided tour' etc. There are separate definitions for Tourist Guide and Tour Manager that help to clarify the differences between these two professions. It benefits the consumer - and authorities - to know how each service in the industry fits together and to understand that the services and professions are not the same as each other. The established distinction between the two professions of Tourist Guiding and Tour Managing has been a notable historical achievement. This is all the more important in instances where this distinction is misunderstood or blurred. </li>
                  <!-- <li>TGC is the Professional Tourist Guides voice in India. It is respected and it is consulted.</li>
                  <li>TGC provides expertise where needed to ensure that the Tourist Guide's role is understood and promoted</li>
                   -->
                </ul> 
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--==============================
    About Area End
    ==============================-->
      <!--==============================
      Histoy area Start
    ==============================-->

      <!--==============================
      Histoy area End
    ==============================-->
      <!--==============================
    Special Offer Area Start
    ==============================-->

      <!--==============================
    Special Offer Area End
    ==============================-->
      <!-- ==============================
    Testimonail Area Start
    ==============================-->

      <!-- ==============================
    Testimonail Area End
    ==============================-->
      <!-- ==============================
    Blogs Area Start
    ============================== -->

      <!-- ==============================
    Blogs Area End
    ============================== -->
      <%- include('../common_pages/footer') %>

        <!-- Scroll To Top -->
        <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>
        <!-- ==============================
    All Js File
    ================================ -->
        <!-- Jquery -->
        <script src="/js/vendor/jquery-3.6.0.min.js"></script>
        <!-- Slick Slider -->
        <script src="/js/slick.min.js"></script>
        <!-- Bootstrap -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- Magnific Popup -->
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <!-- jquery Ui -->
        <script src="/js/jquery-ui.min.js"></script>
        <!-- Circle Progress -->
        <script src="/js/circle-progress.min.js"></script>
        <!-- isotope -->
        <script src="/js/imagesLoaded.js"></script>
        <script src="/js/isotope.js"></script>
        <!-- Wow.js -->
        <script src="/js/wow.min.js"></script>
        <!-- Main Js File -->
        <script src="/js/main.js"></script>
  </body>

</html>