<!DOCTYPE html>
<html class="no-js" lang="en">
<%- include('../common_pages/head') %>

  <body>
    <!--********************************
    Code Start From Here
    ******************************** -->
    <%- include('../common_pages/header') %>
      <!--==============================
      Hero area Start
    ==============================-->
      <div class="breadcumb-wrapper" data-bg-src="/img/breadcumb/breadcumb-bg.jpg">
        <div class="container z-index-common">
          <div class="breadcumb-content">
            <h1 class="breadcumb-title">History</h1>
            <div class="breadcumb-menu-wrap">
              <ul class="breadcumb-menu">
                <li><a href="/">Home</a></li>
                <li>About</li>
                <li>History</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--==============================
      Hero Area End
    ==============================-->
      <!--==============================
    About Area Start
    ==============================-->
      <section class="space">
        <div class="container">
          <div class="row align-items-center">
            <!-- <div class="col-lg-6">
            <div class="image-box1">
              <img class="img1" src="assets/img/about/img-2-1.jpg" alt="image1">
              <img class="img2" src="assets/img/about/img-2-2.jpg" alt="image2">
              <div class="media-box1">
                <span class="media-info">25 Years</span>
                <p class="media-text">Of Experience</p>
              </div>
              <div class="media-box2">
                <span class="media-info">20,000+</span>
                <p class="media-text">Happy Clients</p>
              </div>
            </div>
          </div> -->
            <div class="">
              <div class="about-content">
                <div class="title-area">
                  <span class="sec-subtitle">We are Tourist Guide Club (TGC)</span>
                  <h2 class="sec-title h1 mt-5">India’s Leading Professional Tourist Guide Network</h2>
                  <p class="sec-text">Tourist Guide club (TGC) was a sister organisation in Centre for rural tourism
                    development founded 2020 in Odisha, India. TGC represent as a professional organisation at all India
                    level, to publicise and improve the quality of service offered to all visitors to India and to bring
                    together and strengthen professional tourist guiding links across India.
                    TGC is the voice of professional tourist guides in India and TGC members are recognised as an
                    advocate of high standards and quality in India Tourism. It is an active member of several License
                    holders of State government & also central government tourism department of in India. Many tourists
                    guide organisations and many monuments tourist guide groups’ participant or observer in key Indian
                    forums.
                  </p>
                </div>
                <!-- <ul class="about-list1">
                  <li>Mei an periculaeuripidis.</li>
                  <li>Lorem ipsum dolor sit am.</li>
                  <li>Blienum nhaedrum tortos.</li>
                  <li>Dlienum phaed is in meis.</li>
                  <li>torquatos nec euls vis.</li>
                  <li>peric uripidis, fincartem.</li>
                  <li>pericu laeuri pidis Mei sm.</li>
                </ul>
                <a href="about.html" class="vs-btn style4">View More</a> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--==============================
    About Area End
    ==============================-->
      <!--==============================
      Histoy area Start
    ==============================-->

      <!--==============================
      Histoy area End
    ==============================-->
      <!--==============================
    Special Offer Area Start
    ==============================-->

      <!--==============================
    Special Offer Area End
    ==============================-->
      <!-- ==============================
    Testimonail Area Start
    ==============================-->

      <!-- ==============================
    Testimonail Area End
    ==============================-->
      <!-- ==============================
    Blogs Area Start
    ============================== -->

      <!-- ==============================
    Blogs Area End
    ============================== -->
      <%- include('../common_pages/footer') %>

        <!-- Scroll To Top -->
        <a href="#" class="scrollToTop scroll-btn"><i class="fas fa-arrow-up"></i>
</a>
        <!-- ==============================
    All Js File
    ================================ -->
        <!-- Jquery -->
        <script src="/js/vendor/jquery-3.6.0.min.js"></script>
        <!-- Slick Slider -->
        <script src="/js/slick.min.js"></script>
        <!-- Bootstrap -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- Magnific Popup -->
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <!-- jquery Ui -->
        <script src="/js/jquery-ui.min.js"></script>
        <!-- Circle Progress -->
        <script src="/js/circle-progress.min.js"></script>
        <!-- isotope -->
        <script src="/js/imagesLoaded.js"></script>
        <script src="/js/isotope.js"></script>
        <!-- Wow.js -->
        <script src="/js/wow.min.js"></script>
        <!-- Main Js File -->
        <script src="/js/main.js"></script>
  </body>

</html>